@import 'settings/fonts';
@import 'settings/colors';
@import './HomeStyle/HomeHeader.scss';
@import './HomeStyle/HomeTreeColumns.scss';
@import './HomeStyle/HomeSimplySteps.scss';
@import './HomeStyle/HomeAboutUs.scss';
@import './HomeStyle/HomeWhoWeHelp.scss';
@import './HomeStyle/Contact.scss';
@import './LogStyle/SignIn.scss';
@import './HomeStyle/Navigation.scss';
@import './LogStyle/LogOut.scss';


body, html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
  }